[submodule "Basil/vendor/spdlog"]
	path = Basil/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Basil/vendor/GLFW"]
	path = Basil/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Basil/vendor/imgui"]
	path = Basil/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Basil/vendor/glm"]
	path = Basil/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Basil/vendor/yaml-cpp"]
	path = Basil/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Basil/vendor/ImGuizmo"]
	path = Basil/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
